<div>
<style>
.raz {
  border-spacing: 12.5em 1.3em; /* border-collapse наследуется, применяется только к table или inline-table элементам с border-collapse: separate; */ 
}
.raz,
.raz td {
  border: 0px solid red;
padding: .3em 1em
}
</style>



<a href="https://www.incotexcom.ru/"> 
<img src="../img/modules/inkoteks.png" width="20%"  ></a> &nbsp;&nbsp; &nbsp;&nbsp;
&nbsp;&nbsp; &nbsp;&nbsp;
 &nbsp;&nbsp;<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=get&tab=">GET DATA</a>

</a>&nbsp;&nbsp; &nbsp;&nbsp;
 &nbsp;&nbsp;<a class="btn btn-default" href="modules/mercury/lk" title="Вход в личный кабинет">ЛК</a>

&nbsp;&nbsp;&nbsp;&nbsp;	
	[#if CYCLERUN==1#]
		<span class="label label-success" title="Статус цикла">Цикл запущен</span>
	[#else#]
		<span class="label label-danger" title="Статус цикла">Цикл остановлен</span>
	[#endif#]

 &nbsp; 
</div>



	 <ul class="nav nav-tabs">

<br>
<li [#if TAB=="" || TAB=="info" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=info"><span class="glyphicon glyphicon-list-alt"></span> Информация</a></li>
<li [#if TAB=="config" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=config"><span class="glyphicon glyphicon-list-alt"></span> Счетчики</a></li>
<li [#if TAB=="param" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=&id=<#ID#>&tab=param"><span class="glyphicon glyphicon-cog"></span> Настройки</a></li>
<li [#if TAB=="debug" #] class="active" [#endif#]><a href="?view_mode=&tab=debug"><span class="glyphicon glyphicon-inbox"></span> Отладка</a> </li>	
<li [#if TAB=="help" #] class="active" [#endif#]><a href="?view_mode=&tab=help"><span class="glyphicon glyphicon-info-sign"></span> Помощь</a> </li>	
</ul>

[#if TAB="info"|| TAB==""#]

<!--            
        function OnSelectionChange (select) {
            var selectedOption = select.options[selectedIndex];
            alert ("The selected option is " + selectedOption.value);}
//            alert (select);
var sql="update mercury_config  set value="+select+" where parametr='CURRENT'";
-->
<head>
    <script type="text/javascript">
        function OnSelectionChange (select) {

        }
    </script>
</head>
<body>
<!--<select onchange="OnSelectionChange (this)"> -->

<form action="?" method="get" class="form-horizontal" name="country_change">
   <input type="hidden" name="view_mode" value="updatecurrent">
   <div class="form-group">
      <div class="col-sm-5">

Выбранный счетчик:   



 <select name="current" class="input form-control" onchange="document.country_change.submit();">
<!--  <option value="">[#FIO#]-->
  [#begin RESULT#]
<option value="[#FIO#]"[#if FIO="<#FIO#>"#] selected[#endif#]>[#FIO#]
  [#end RESULT#]
 </select>




   </div>
   <div class="form-actions">
      <br>
<!--      <button type="submit" name="ow_subm" value="setCityId" class="btn btn-primary"><#LANG_SUBMIT#></button> 
      <input type="hidden" id="current" name="current" value="">

-->
   </div>
   </div>
</form>

</body>





 [#inc info.html#] 

[#endif#]
[#if TAB="config"#] [#inc indata.html#] [#endif#]

[#if TAB="debug"#]
<br>
Degug:
<div>
[#MSG_DEBUG#]

</div>

 [#endif#]

[#if TAB="param"#]
<br>

<table class="raz">
<tr><td>
 [#module name="settings"  action="admin"  filter_name="appmercury"#]
</td><td>
<img src="../img/modules/[#MODEL#].png"  align="right" > 
</td></tr></table>




 [#endif#]


[#if TAB="help"#] [#inc help.html#] [#endif#]
