@font-face{
font-family: 'IstokWeb';
src: url('IstokWeb-Regular.ttf');
font-weight: normal;
font-style: normal;
}

body {
  padding-top: 7rem;
}
.nav-item img {
  margin-top:0.7em;
  margin-right:0.5em;
}
.card-body .row {
   margin-right: 0px;
   margin-left: 0px;
}

.card-body hr {
    margin-top: 0px;
    margin-bottom: 10px;
	
}
