@font-face{
font-family: 'IstokWeb';
src: url('IstokWeb-Regular.ttf');
font-weight: normal;
font-style: normal;
}


body {	
	background: url(../img/fon.png) no-repeat #dcdcdc;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
	color:#fff;
	margin: 0px;
	padding: 0px;
	font-family: IstokWeb;
	width: 100%;
}

.text-g {
	color:#00a648;
}

.list {	
	border: 0px solid #444;
	width: 80%;
	margin: 40px auto;
}

.header {
	width: 100%;
	background-color: #fff;
}

.title {
	text-align: center;
	font-size: 20px;
	padding: 4px;
	font-weight: bold;
}

.in-header {
	width: calc(100% - 20px);
	background-color: #00bd57;
	box-shadow: 0 0 40px rgba(0, 0, 0, .2) inset;
	padding: 10px;
}

.in-title {
	width:100%;
	font-size: 36px;
	text-align:right;
	text-transform: uppercase;
	font-weight: bold;
}

.menu {
	width:100%;
	float:left;
	height: 50px;
	margin: 40px 0 10px 0;
}


.menu a {
	color: #fff;
}

.menu li:hover {
	background-color:#33fb8f;
}

.menu ul {
	margin: 0;
	padding: 0;
}

.menu li {
	float: left;
	height: 50px;
	font-size: 14px;
	list-style-type: none;
	margin-left: 15px;
	padding: 4px;
}

.menu .add {
	float: right;
	height: 50px;
	font-size: 14px;
	list-style-type: none;
	padding: 4px;
	background-color: #fff;
	border-radius: 7px;
}


.menu .add:hover {
	background-color:#fff798;
}


.add span {
	margin-left: 7px;
	width: 80px;
	float:left;
	height: 40px;
	font-weight: bold;
	margin-top:5px
}

.menu .add a {
	color: #00bd57;
}



.menu li span {
	margin-left: 7px;
	float:left;
	width: 120px;
	height: auto;
	font-weight: bold;
	margin-top:5px
}


.ico{
	margin-top:5px;
	width: 40px;
	height: 40px;
	float: left;
	background-color: #fff;
}

.img-ico-1 {
	background: url(../img/s1.png) no-repeat;
	background-size: cover;
}

.img-ico-2 {
	background: url(../img/s2.png) no-repeat;
	background-size: cover;
}

.img-ico-3 {
	background: url(../img/s3.png) no-repeat;
	background-size: cover;
}

.img-ico-4 {
	background: url(../img/s4.png) no-repeat;
	background-size: cover;
}

.line {
	background: url(../img/line.png) no-repeat;
	background-size: cover;
	width: 2px;
	height: 50px;
	float: right;
}

.img-ico-add {
	background: url(../img/add.png) no-repeat;
	background-size: cover;
	margin-left:5px;
}


.ld {
	width:calc(50% - 20px);
	padding: 10px;
	color: #888;
	float:left;
	text-align: left;
}

.ld span, .sh span, .p-right {
	color: #000;
	font-weight: bold;
}

.sh {
	width:calc(50% - 20px);
	padding: 10px;
	color: #888;
	float:right;
	text-align: right;
}

.blank {
	width:calc(100%);
	margin-top: 30px;
	color: #888;

}

.blank-left{
	width:calc(65% - 15px);
	color: #888;
	float:left;
	text-align: center;
	background-color:#e2f9ec;
	padding: 10px;
}

.blank-right{
	width:calc(35% - 30px);
	height: 100%;
	color: #888;
	float:right;
	padding:  10px 8px 30px 8px;
	background-color: #fff;
}

.graf {
	width:calc(100% - 6px);
	border: 3px solid #44a;	
	margin-bottom: 10px;
	background-color:#fff;
}

.p-left {
	float:left;
}

.p-right {
	float:right;
}

.p-sh {
	font-size: 18px;
	color: #000;
}
